* {
	box-sizing: border-box;
	margin: 0;
	outline: none;
	padding: 0;
}

*::before,
*::after {
	box-sizing: inherit;
}

*:active,
*:focus,
*:hover {
	outline: none;
}

html,
body {
	height: 100%;
	position: relative;
	width: 100%;
}

body {
	background-color: #fff;
	color: #181818;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.4;
	overflow-x: hidden;
}

ul, ol {
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}

.scaleOut {
	animation: scaleOut 2s ease;
	animation-fill-mode: forwards;
	opacity: 0;
}

.slideInLeft {
	animation: slideInLeft 2s ease;
	animation-delay: 1s;
	animation-fill-mode: forwards;
	/*opacity: 0;*/
}

.slideInRight {
	animation: slideInRight 2s ease;
	animation-delay: 1s;
	animation-fill-mode: forwards;
	/*opacity: 0;*/
}

.slideInTop {
	animation: slideInTop 2s ease;
	animation-delay: 1s;
	animation-fill-mode: forwards;
	opacity: 0;
}

.slideInBottom {
	animation: slideInBottom 2s ease;
	animation-delay: 1s;
	animation-fill-mode: forwards;
	opacity: 0;
}

.textStroke {
	animation: strokeAnimation 2s ease;
	animation-delay: 1s;
	animation-fill-mode: forwards;
	/*filter: drop-shadow(0 0 1px #909090);*/
}

@supports (height: 100svh) {
	.mobileFullHeight.mobileFullHeight {
		height: 100svh;
	}
}


@keyframes scaleOut {
	0%{
		opacity: 0;
		transform: scale(16,16)
	}
	100%{
		opacity: 1;
		transform: scale(1,1)
	}
}

@keyframes slideInLeft {
	0%{
		/*opacity: 0;*/
		transform:translateX(-50%)}
	100%{
		/*opacity: 1;*/
		transform:translateX(0)}
}

@keyframes slideInRight {
	0%{
		/*opacity: 0;*/
		transform:translateX(50%)}
	100%{
		/*opacity: 1;*/
		transform:translateX(0)}
}

@keyframes slideInTop {
	0%{
		opacity: 0;
		transform:translateY(-100%)}
	100%{
		opacity: 1;
		transform:translateY(0)}
}

@keyframes slideInBottom {
	0%{
		opacity: 0;
		transform:translateY(100%)}
	100%{
		opacity: 1;
		transform:translateY(0)}
}

@keyframes strokeAnimation {
	0% {
		filter: drop-shadow(0 0 0 #fff);
	}
	100% {
		filter: drop-shadow(0 0 1px #909090);
	}
}

.row1Animation {
	animation: Row1Animation 280s ease infinite;
}

.row2Animation {
	animation: Row2Animation 280s ease infinite;
}

.row3Animation {
	animation: Row3Animation 280s ease infinite;
}

@keyframes Row1Animation {
	0%{transform:translateX(-72px)}
	100%{transform:translateX(-2400px)}
}

@keyframes Row2Animation {
	0%{transform:translateX(-60px)}
	100%{transform:translateX(-1780px)}
}

@keyframes Row3Animation {
	0%{transform:translateX(-128px)}
	100%{transform:translateX(-1780px)}
}
